@font-face {
  font-family: "iconfont"; /* Project id 2495340 */
  src: url('//at.alicdn.com/t/font_2495340_1o9prwzqvxl.woff2?t=1622089094063') format('woff2'),
       url('//at.alicdn.com/t/font_2495340_1o9prwzqvxl.woff?t=1622089094063') format('woff'),
       url('//at.alicdn.com/t/font_2495340_1o9prwzqvxl.ttf?t=1622089094063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjia:before {
  content: "\e6cc";
}

.iconjian:before {
  content: "\e6cd";
}

.iconshixinshanjian:before {
  content: "\e6d0";
}

.iconshixinxinzeng:before {
  content: "\e6d1";
}

.icondelete-o:before {
  content: "\e69e";
}

.iconminus:before {
  content: "\e6ab";
}

.iconplus:before {
  content: "\e6af";
}

.iconqipaishi:before {
  content: "\e681";
}

.iconjianshen:before {
  content: "\ea73";
}

.iconspa:before {
  content: "\f0cc";
}

.iconxican:before {
  content: "\e686";
}

.iconzhongcan:before {
  content: "\e68c";
}

.iconkefang:before {
  content: "\e63d";
}

.icontubiao-quxiao:before {
  content: "\e61d";
}

.iconziliao:before {
  content: "\e62b";
}

.icondaizhihangde:before {
  content: "\e64c";
}

.iconyizhihangde:before {
  content: "\e64d";
}

.iconyiquxiao:before {
  content: "\e603";
}

.iconyizhifu:before {
  content: "\e601";
}

.iconweizhifu:before {
  content: "\e602";
}

.iconcard-pluck:before {
  content: "\e796";
}

.iconarrowRight-copy-copy-copy:before {
  content: "\e67c";
}

.iconbiaoqing:before {
  content: "\e609";
}

.iconmenjin:before {
  content: "\e6a5";
}

.iconquan:before {
  content: "\e600";
}

.iconziyuan:before {
  content: "\e638";
}

.iconhuiyuankax:before {
  content: "\e62d";
}
